@import 'shared';
@import 'reset';
@import 'weather-icons/sass/weather-icons';

body, html {
	font-family: $default-family-font;
	font-size: $font-small;
	font-weight: $font-small-weight;
	background-color: $bg-color;
}

.brand-name {
	font-size: 2.1rem;
	margin: 0px .8rem;
}

.img-rounded {
	border-radius: .3rem;
	width: 100%;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.text-small {
	font-size: .9rem;
}
.text-muted {
	font-weight: $font-small-weight;
}

.bold {
	font-weight: $font-huge-weight;
}

.input-form {
	display: flex;
	flex-direction: column;
	input {
		margin: .2rem;
		padding: .4rem;
		font: inherit;
		outline: 0;
		border: 1px solid $primary-color;
	}
	button {
		margin: .2rem;
		padding: .4rem;
		border-radius: .4rem;
		background-color: $primary-color;
		color: $secondary-color;
		font:inherit;
		border: none;
		cursor: pointer;
	}
}

a {
	text-decoration: none;
	color: $text-links;
	&:hover {
		color: $text-links-hover;
	}
}
